# Ignore environment variables
.env

# Ignore the scripts folder and its contents
scripts/
requirements.txt

# (optional) Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
